.main-bg{
    background-image: url('../images/main-bg.svg');
    background-size: cover;
    background-position: center center;
}

.white-bg{
    background-color: var(--white-color);
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section{
    min-height: 100vh;
    min-width: 100vw;
}

.menu-spacing{
    height: 6rem;
}
