:root{
    --red-color: #ee0606dc;
    --gray-pink-color: #F2D5EA;
    --gray-color: #A6A6A6;
    --gray-lilac-color: #D99AB7;
    --mauve-color: #8C2B45;
    --black-color: black;
    --white-color: white;
    --beige-color: #FAE5b4;
    --beige-light-color: #fae5b4f6;
    --gap: 3rem;
}